<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title> Chat - AI </title>


    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c780683958cf546a774f3b91ca43b8d6";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <style>
        .box-card {
            width: 100%;
        }
    </style>


</head>
<body>
<div id="app">

    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span style="font-size: 12px; float: right">gpt-3.5-turbo 2023-3-13</span>
        </div>

        <div class="block" :v-show="lines.length>0">
            <el-timeline>
                <el-timeline-item v-for="(item, index) in lines" :key="index"
                                  :timestamp="item.caption +' '+ '('+item.time+')'"
                                  :icon="item.icon"
                                  :type="item.type"
                                  placement="top"
                                  size="large">
                    <el-card>
                        <span>{{item.content}}</span>
                    </el-card>
                </el-timeline-item>

            </el-timeline>
        </div>

    </el-card>


    <el-form>
        <el-form-item label="输入文本">
            <el-input type="textarea" v-model="text" label="Please enter"
                      @keydown.native="handleKeyCode($event)"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="addQuery" v-text="btnText" :disabled="btnDisable">...</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const vue = new Vue({
        el: '#app',
        methods: {
            handleKeyCode(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    vue.addQuery();
                }
            },
            disableBtn() {
                this.btnDisable = true;
                this.btnText = '处理中';
            },
            enableBtn() {
                this.btnDisable = false;
                this.btnText = '发送';
            },

            getAIChat() {
                let item = vue.lines[vue.lines.length - 1];
                if (item.role != 'assistant') {
                    let date = new Date();
                    item = {
                        caption: "AI",
                        role: "assistant",
                        time: date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds(),
                        icon: "el-icon-dish",
                        type: "success",
                        content: ''
                    }
                    vue.lines.push(item);
                }
                return item;
            },
            addQuery() {

                let text = this.text.trim();
                //过滤空文本或禁用状态
                if (!text || text == '' || this.btnDisable == true) {
                    return;
                }
                this.text = ''
                const date = new Date();
                let item = {
                    caption: "我",
                    role: "user",
                    time: date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds(),
                    icon: "el-icon-user-solid",
                    type: "primary",
                    content: text
                }
                this.lines.push(item);
                const history = this.lines;
                const options = {
                    method: "POST",
                    data: history,
                    url: './chat',
                    // stream: true,
                    responseType: "stream",
                    onUploadProgress: function (progressEvent) {
                        // console.log('progressEvent', progressEvent)
                    },
                    // 浏览器
                    onDownloadProgress: function (onDownloadProgress) {
                        // console.log('onDownloadProgress', onDownloadProgress)
                        item = vue.getAIChat()
                        item.content = onDownloadProgress.event.currentTarget.responseText;
                    },
                };

                this.disableBtn();
                axios(options).then(function (response) {
                    // 处理成功情况
                    vue.getAIChat().content = response.data;
                    vue.enableBtn();
                }).catch(function (error) {
                    // 处理错误情况
                    console.log(error);

                    //删除最后一个
                    vue.lines.splice(vue.lines.length - 1, 1)

                    //恢复输入文本
                    vue.text = text;

                    //恢复
                    vue.enableBtn();

                });


            }
        },
        data() {
            return {
                btnDisable: false,
                btnText: '发送',
                text: '请推荐一些稀缺的职业',
                lines: []
            }
        }
    })
</script>
</html>